body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#network{
    align-self: center;
    text-align: center;
    max-width: 800pt;
    min-width: 600pt;
    display: block;
    margin: auto;
}

#networkSvg {
    display: block;
    margin: auto;
}

.users{
    stroke: white;
    border: 2pt;
    cursor: pointer;
}

.brushSelected {
    stroke: red;
}

line {
    stroke-width: 1;
    stroke-opacity: 0.5;
}

.unselectedLine{
    stroke-opacity: 0.2;
    stroke: grey;
}

.selectedLine{
    position: relative;
    stroke-width: 5;
    stroke-opacity: 1;
}

.untouchedLine {
    stroke-width: 1;
    stroke-opacity: 0.5;
    stroke: grey;
}


.tooltip{
    position: absolute;
    text-align: left;
    width: 300px;
    padding: 8px 8px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid rgba(var(--d0b,219,219,219),1);
    border-width: 0.5px;
    border-radius: 5px;
    opacity: 1;
}

.tooltipContainer{
    position: flex;
    flex-direction: row;
    display: flex;
}

.profileInfo{
    position: flex;
    flex-direction: column;
    display: flex;
    width: 90%;
    padding-right: 10px;
    padding-left: 4px;
}

.profileName{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}

.realName{
    color: rgba(var(--f52,153,153,153),1);
    font-size: 14px;
    line-height: 19px;
    vertical-align: middle;
}

.profileButton{
    border: 1px solid rgba(var(--d0b,219,219,219),1);
    border-radius: 4px;
    background: transparent;
    color: #262626;
    position: block;
    padding: 5px 9px;

    font-weight: 600;
    font-size: 14px;
    text-overflow: ellipsis;
    display: flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

#widget {
    text-align: center;
    position: absolute;
    min-width: 200px;
    max-width: 300px;
    height: 20%;
    left: 55%;
    top: 5%;
}

#sizeWidget, #colorWidget {
    width: 100%;
    max-height: 120px;
    position: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-weight: 100;
}

#sizeSvg{
    position: relative;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    font-size: 8pt;
}

#colorSvg{
    position: relative;
    top: 50%;
    align-items: center;
    text-align: center;
    font-size: 8pt;
}

.colorNames{
    text-align: center;
    top: 80px;
}

#description{
    position: absolute;
    bottom: 20%;
    left: 32%;
}

#dotAndCircle{
    position: flex;
    flex-direction: column;
}

.descriptionText {
    line-height: 10px;
    font-size: 8pt;
    padding-left: 2pt;
}