body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#header{
    position: absolute;
    width: 30%;
    left: 2%;
    top: 5%;
}

#headerContainer{
    position: flex;
    flex-direction: row;
    display: flex;
}

#profilePic{
    width: 40%;
    height: 40%;
    max-width: 200px;
    min-width: 160px;
    max-height: 200px;
    min-height: 160px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#profileDescription{
    margin: 5px 10px 20px 40px;
    width: 70%;
    font-weight: 300;
    color: #262626;
}

#profileStats{
    position: flex;
    flex-direction: row;
    display: flex;
}

.userStats{
    width: 30%;
    min-width: 100px;
    margin-top: 7.5%;
    margin-bottom: 3%;
    margin-right: 10px;
    font-size: 17px;
    line-height: 17px;
    padding: 5px;
}

#userName{
    font-size: 28px;
    line-height: 32px;
    padding: 5px;
}

.userStatsNumbers{

    font-weight: 600;
    margin-right: 2%;
}

#profileText {
    position: block;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 18px;
}

#name{
    font-weight: 600;
    margin-bottom: 5px;
}

#textDescription{
    font-weight: 300;
}